<form [formGroup]="form">
  <fieldset class="form-input-double-fieldset">
    <legend class="form-input-double-legend">{{label}}</legend>
    <div class="form-input-double">
      <input [type]="input1.type"
             [formControlName]="input1.field"
             [placeholder]="input1.hint"
             class="form-input-double-input rounded-t-md">
      <input [type]="input2.type"
             [formControlName]="input2.field"
             [placeholder]="input2.hint"
             class="form-input-double-input rounded-b-md">
    </div>
  </fieldset>
  <p class="form-input-error" *ngFor="let error of getInput1Errors()">
    {{input1.field}}: {{error}}<br/>
  </p>
  <p class="form-input-error" *ngFor="let error of getInput2Errors()">
    {{input2.field}}: {{error}}<br/>
  </p>
</form>
